h1 {
  margin: 0px;
}

h2 {
  margin: 0px;
  font-size: 37px;
  font-weight: 500;
}

p {
  margin: 0px;
}

body {
  margin: 0px;
  font-family: Gilroy;
}



.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}




.header {
  width: 100%;
  height: 370px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header__title {
  font-size: 80px;
  height: 170px;
}

.header span {
  color: #929291;
}

.header__label {
  font-size: 41px;
  font-weight: 150;
}





.slogan {
  background-color: #F3F3F3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0px;
  font-size: 27px; 
  font-weight: 500;
}

.slogan span {
  display: block;
  text-align: end;
  font-size: 18px;
  color: #D0D0D0;
  font-weight: 200;
  margin-top: 10px;
}




.wrapper {
  max-width: 1170px;
  margin: 0px auto;
}

.description {
  color: #929291;
  margin: 60px auto;
  font-size: 19px;
  font-weight: 200;
}




.feedback__title {
  font-size: 30px;
}

.feedback__page {
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  height: 200px;
}

.feedback__page__title {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  border-bottom: 2px solid black;
}

.feedback__page__title-button {
  margin-left: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.feedback__page__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}








.tutotial__content__block {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
}

.tutotial__content__block p {
  border-top: 2px solid black;
  padding: 30px 0px;
}